<header class="header">
   <a href="/" class="header__logo">
    <img src="img/lady.jpg" alt="">
   </a>

   <nav class="header__nav">
    <ul>
        <li>
            <a href="/" class="">Home</a>
        </li>
        <li>
            <a href="/newpost" class="">New post</a>
        </li>
        <li>
            <a href="/individualpost" class="">Individualpost</a>
           
        </li>
    </ul>
   </nav>

   <div class="header__button">
    <button class="searchBtn" aria-expanded="false">
        search
    </button>
   </div>
</header>