<div class="author">
    <h1 class="author__heading">Lady Whistledown</h1>
    <p class="author__body">Celebrity gossip</p>
</div>

<img src="/img/MEN.webp" alt="" class="hero-image" width="500" height="150">

<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>

    <ul class="articles-ul">
        <li>
            <a href="#">
                <span>Post title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>