<div class="container mt-5">
    <h3 class="my-3">Tell us what you heard...</h3>
    <form action="/newpost" method="POST">
        <input type="text" name="title" placeholder="Enter Title" class="form-control" required>

        <textarea name="content" cols="30" rows="10" class="mt-5" placeholder="Enter content here..." required></textarea>
         <input type="submit" value="Enter" class="mt-5 btn-lg btn-danger">
    </form>
</div>